<html>
    <head>
        <title>Cadastro</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    
    <body>
        <div class="jumbotron">
            <h1 style="text-align: center; font-family: Palace Script MT;">Cafeteria & Livraria</h1><br>
            <h3 style="text-align: center; color: grey; font-family: Javanese Text;">Leia enquanto aproveita uma maravilhosa xícara de café</h3>
        </div>

        <form action="/cadastrar" method="post">
            <label for="nome">Nome:</label><br>
            <input type="text" name="nome" id="nome"><br>
            <label for="id">ID:</label><br>
            <input type="text" name="id" id="id"><br>
            <label for="preco">Preço:</label><br>
            <input type="text" name="preco" id="preco"><br>
            <label>Categoria:</label><br>
            <input type="text" name="categoria" id="categoria"><br><br>
            <input type="submit" value="Cadastrar">
        </form>
    </body>
</html>