<!DOCTYPE html>
<html>
    <head>
        <title>Cardápio</title>
        <!--Conectando com o Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>

        <!--Cabeçalho (H1 é o nome do site, H3 é a descrição da página)-->
        <div class="jumbotron">
            <h1 style="text-align: center; font-family: Palace Script MT;">Cafeteria & Livraria</h1><br>
            <h3 style="text-align: center; color: grey; font-family: Javanese Text;">Nosso cardápio:</h3>
        </div>

        <!--
        Divide o Site em 3 colunas, uma para cada item. Em caso de mais itens, criar mais linhas
        Para criar mais linhas, começa a copiar as linhas 26 a 42 (a div inteira) e colar embaixo dos <br>!
        Para trocar a imagem, muda o link do SRC. Para trocar o nome e o preço, muda o <p>
        -->
        <div class="container">
            <div class="row" style="text-align: center; font-family: Javanese Text; color: grey;">
                <div class="col-sm-4">
                    <img src="https://i.pinimg.com/564x/8e/5c/72/8e5c72593021e7342932b9da5f6d71db.jpg" style="height: 300px;">
                    <br>
                    <a href="Bebidas.html">Bebidas</a>
                </div>
                <div class="col-sm-4">
                    <img src="https://i.pinimg.com/564x/22/80/d7/2280d7cf6113e583fbea085623b73e2f.jpg" style="height: 300px;">
                    <br>
                    <a href="Salgados.html">Salgados</a>
                </div>
                <div class="col-sm-4">
                    <img src="https://i.pinimg.com/564x/b0/78/ce/b078ce6a30f999eed2dee5ca46c639be.jpg" style="height: 300px;">
                    <br>
                    <a href="Doces.html">Doces</a>
                </div>
            </div>
            <br><br><br>
            <div class="container" style="text-align: center; font-family: Javanese Text; color: grey; text-decoration: underline;">
                <br>
                <a href="PaginaInicial.html">Voltar para a Página Inicial</a>
            </div>
        </div>

    </body>
</html>

<!--Ainda quero dividir tudo entre salgados, doces e bebidas. Melhor não alterar essa página ainda.-->