<!DOCTYPE html>
<html>
    <head>
        <title>Gerenciamento de Produtos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="jumbotron">
            <h1 style="text-align: center; font-family: Palace Script MT;">Cafeteria & Livraria</h1><br>
            <h3 style="text-align: center; color: grey; font-family: Javanese Text;">Gerenciamento de Produtos</h3>
        </div>
        <button><a href="/formcadastro">Cadastrar</a></button><br>
        <button><a href="/formalterar">Alterar</a></button><br>
        <button><a href="/formexcluir">Excluir</a></button><br>
        <a href="/">Voltar para a página inicial</a>
    </body>
</html>