<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    
    <body>
        <div class="jumbotron">
            <h1 style="text-align: center; font-family: Palace Script MT;">Cafeteria & Livraria</h1><br>
            <h3 style="text-align: center; color: grey; font-family: Javanese Text;">Leia enquanto aproveita uma maravilhosa xícara de café</h3>
        </div>
        <div class="container" style="text-align: center;">
            <form action="/processar" method="post">
                <label for="usuario">Usuário:</label><br>
                <input type="text" name="usuario" id="usuario"><br>
                <label for="senha">Senha:</label><br>
                <input type="password" name="senha" id="senha"><br><br>
                <input type="submit" value="Enviar">
            </form>
        </div>

        <a href="/">Voltar para a página inicial</a>
        
    </body>
</html>