<!DOCTYPE html>
<html>
    <head>
        <title>Página Inicial</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>

        <div class="jumbotron">
            <h1 style="text-align: center; font-family: Palace Script MT;">Cafeteria & Livraria</h1><br>
            <h3 style="text-align: center; color: grey; font-family: Javanese Text;">Leia enquanto aproveita uma maravilhosa xícara de café</h3>
        </div>

        <div class="container" style="font-size: 20px; font-family: Javanese Text; color: grey; text-decoration: underline; text-align: center;">
            <div class="row">
                <div class="col-sm-6">
                    <img src="https://i.pinimg.com/564x/6b/16/72/6b1672790fafa42f3c5eef4d156d63ef.jpg" style="height: 300px;">
                    <br>
                    <a href="Cardapio.html">Cardápio</a>
                </div>
                <div class="col-sm-6">
                    <img src="https://i.pinimg.com/564x/97/4d/59/974d59c4adb40c5b320593212308fdaf.jpg" style="height: 300px;">
                    <br>
                    <a href="Biblioteca.html">Biblioteca</a>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-12">
                    <a href="Login.html" style="font-size: 20px; font-family: Javanese Text; color: grey; text-decoration: underline;">Acesso para funcionários</a>
                </div>
            </div>
    </body>
</html>