<!DOCTYPE html>
<html>
    <head>
        <title>Sucesso!</title>
        <!--Conectando com o Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>

        <!--Cabeçalho (H1 é o nome do site, H3 é a descrição da página)-->
        <div class="jumbotron">
            <h1 style="text-align: center; font-family: Palace Script MT;">Cafeteria & Livraria</h1><br>
            <h3 style="text-align: center; color: grey; font-family: Javanese Text;">Doe um livro, ganhe um café <span class="glyphicon glyphicon-heart"></span></h3>
        </div>
        
        <div class="container">
            <p>Ficamos muito gratos pela doação!</p>
            <p>Como forma de agradecimento, apresente esse cupom em nossa loja na entrega do livro para um café de sua preferência por nossa conta.</p>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6" style="background-image: url(https://i.pinimg.com/564x/ca/f5/76/caf576172c3723cd41320eaa2932bcae.jpg); background-repeat: no-repeat;">
                        <h1 style="text-align: center;">Doei um livro!</h1>
                        <div id="titulo"></div>
                        <div id="autor"></div>
                        <div id="edicao"></div>
                        <br>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                
            </div>
        </div>
        
        <!--Só mexer no Style-->
        <div class="container" style="text-align: center; font-family: Javanese Text; color: grey; text-decoration: underline;">
            <br>
            <a href="/biblioteca">Voltar para a biblioteca</a>
        </div>

        <!--JavaScript, não alterar-->
        <script>
            document.getElementById("titulo").innerHTML = "Título: " + localStorage.titulo;
            document.getElementById("autor").innerHTML = "Autor: " + localStorage.autor;
            document.getElementById("edicao").innerHTML = "Edição " + localStorage.edicao;
        </script>

    </body>
</html>